body{
  background-color: rgb(28, 28, 28) !important;
  display:flex;
  justify-content: center;
  align-items:center;
  flex-direction: column;
  width: 100vw;
  height:100vh;
}

h1{
  color:white
}

.btn{
  height: 75px;
  width: 75px;
  margin: 2px;
  font-size: 50px;
  border-radius: 50% !important;
}

.number{
  border: 1px solid greenyellow !important;
  border-radius: 10px;
  color: white !important;
}

.number:hover{
  background-color: greenyellow !important;
}

.operator{
  border: 1px solid lightblue !important;
  border-radius: 10px;
  color: white !important;
}

.operator:hover {
  background-color: lightblue !important;
}

.alter{
  border: 1px solid rgb(212, 212, 210) !important;
  background-color: rgb(212, 212, 210) !important;
  font: black;
}

.decimal{
  border: 1px solid gold !important;
  border-radius: 10px;
  color: white !important;
}

.decimal:hover {
  background-color: gold !important;
}

.equal{
  border: 1px solid lightpink !important;
  border-radius: 10px;
  color: white !important;
}

.equal:hover{
  background-color: lightpink !important;
}

.clear{
  border: 1px solid rgb(212, 212, 210) !important;
  background-color: rgb(212, 212, 210) !important;
  border-radius: 10px;
  font: black;
}

.clear:hover{
  background-color: lightgray !important;
}

.first-row{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.screen{
  width: 300px;
  height: 75px;
  border: 1px solid lightgray !important;
  margin: 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end
}

.previous{
  font-size: 20px;
}

.current{
  font-size: 30px;
}
